.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(242, 236, 227);
  /* height: 300px;
  width: 500px; */
  /* margin: 20% 5%; */
  margin: 10vh 10vw;
  box-shadow: 10px;
  border-radius: 1pc;
  box-shadow: 10px 10px 5px rgb(205, 210, 211);
}
.ip {
  padding: 1%;
  margin: 1%;
}
h2 {
  background-color: rgba(80, 80, 203, 0.89);
  padding: 1%;
  margin-top: 0pc;
  color: antiquewhite;
}
.ip-2 {
  width: 6pc;
  background-color: rgb(236, 201, 201);
}
.ip-1 {
  width: 12pc;
}
.ip-3 {
  width: 5pc;
  background-color: rgb(80, 80, 203);
  margin-bottom: 5%;
  margin-top: 3%;
  color: white;
}
